@charset "UTF-8";
/*Hello world*/
body {
  font-family: "wask_newregular", Arial, sans-serif;
  color: #424242;
  margin: 0;
  padding: 0;
  font-weight: 400;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #f5f5f5;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: 700;
}

main {
  margin: 0;
}

hr {
  border: none;
  width: 100%;
  height: 1px;
  background: #e2e2e2;
  margin: 20px 0;
  padding: 0;
}

figure img {
  max-width: 100%;
}

img {
  max-width: 100%;
}

strong {
  font-weight: 700;
}

p {
  line-height: 1.8em;
  font-size: 1.125em;
}

article {
  width: 100%;
}

/*header*/
.header {
  width: 100%;
  height: 50px;
  background: #ffffff;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9998;
  -webkit-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
  -o-box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 0px rgba(0, 0, 0, 0.05);
}
.header .contact {
  display: inline-block;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 40px;
  margin: 10px 0;
}
.header li {
  float: left;
  padding: 0;
  margin: 0;
}
.header li a {
  display: inline-block;
  line-height: 30px;
  padding: 0 10px;
  color: black;
  font-size: 13px;
  font-family: "Courier New", Courier, monospace;
  text-decoration: none;
}
.header li a i {
  font-size: 20px;
  display: inline-block;
}
.header li a i::before {
  vertical-align: bottom;
}
.header li a span {
  display: inline-block;
}
.header li a:hover {
  color: #0f0f0f;
}

.logo-wrap {
  width: 50px;
  height: 50px;
  background: #f5f5f5;
  text-align: center;
}

.logo {
  line-height: 50px;
  display: block;
}
.logo:hover {
  cursor: pointer;
}
.logo:hover img {
  opacity: 0.5;
}

.aside {
  background: #ffffff;
  height: 100vh;
  width: 50px;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9997;
  -webkit-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05);
  -moz-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05);
  -o-box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05);
  box-shadow: 1px 0 0 rgba(0, 0, 0, 0.05);
}

.menu {
  display: block;
  top: 50px;
  position: absolute;
  left: 0;
  width: calc(100vh - 50px);
  text-align: right;
  -ms-transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  transform-origin: top left;
  margin-top: calc(100vh - 50px);
}
.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: block;
  height: 50px;
  overflow: hidden;
}
.menu li {
  float: right;
  padding: 0;
  margin: 0;
}
.menu a {
  line-height: 50px;
  display: inline-block;
  padding: 0;
  margin: 0;
  color: #424242;
  text-decoration: none;
  font-size: 1.2em;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  padding: 0 20px;
  position: relative;
  white-space: nowrap;
  cursor: pointer;
}
.menu a::after {
  display: block;
  width: 0%;
  height: 2px;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
}
.menu a:hover {
  color: black;
}
.menu a:hover::after {
  width: 100%;
  background: #e2e2e2;
}
.menu a:active {
  background: #f5f5f5;
  color: #424242;
}
.menu a:active::after {
  width: 100%;
  background: #7c7c7c;
}
.menu a.isactive::after {
  width: 100%;
  background: #424242;
}

@media all and (max-width: 800px) {
  .menu a {
    font-size: 1.1em;
  }
}
@media all and (max-width: 600px) {
  .menu a {
    font-size: 1em;
  }
}
@media all and (max-width: 480px) {
  .menu a {
    font-size: 0.85em;
  }
}
@font-face {
  font-family: "wask_newregular";
  src: url("fonts/wask_new-webfont-webfont.eot");
  src: url("fonts/wask_new-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/wask_new-webfont-webfont.woff") format("woff"), url("fonts/wask_new-webfont-webfont.ttf") format("truetype"), url("fonts/wask_new-webfont-webfont.svg#wask_newregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "wask_newbold";
  src: url("fonts/wask_new_bold-webfont-webfont.eot");
  src: url("fonts/wask_new_bold-webfont-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/wask_new_bold-webfont-webfont.woff") format("woff"), url("fonts/wask_new_bold-webfont-webfont.ttf") format("truetype"), url("fonts/wask_new_bold-webfont-webfont.svg#wask_newbold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "fontify";
  src: url("fonts/fontify.eot");
  src: url("fonts/fontify.eot?#iefix") format("embedded-opentype"), url("fonts/fontify.woff") format("woff"), url("fonts/fontify.ttf") format("truetype"), url("fonts/fontify.svg#fontify") format("svg");
  font-weight: normal;
  font-style: normal;
}
[data-icon]:before {
  font-family: "fontify" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^=icon-]:before,
[class*=" icon-"]:before {
  font-family: "fontify" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: middle;
}

.icon-close:before {
  content: "";
}

.icon-instagram:before {
  content: "";
}

.icon-linkedin:before {
  content: "";
}

.icon-mail:before {
  content: "";
}

.icon-angle-left:before {
  content: "";
}

.icon-angle-right:before {
  content: "";
}

*, *:after, *::after, *:before, *::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

::selection {
  background: #000;
  /* Safari */
  color: #fff;
}

::-moz-selection {
  background: #000;
  /* Firefox */
  color: #fff;
}

body {
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  font-family: "wask_newregular", Arial, sans-serif;
  color: #424242;
  background: #ffffff;
  padding-top: 50px;
  padding-left: 50px;
}

.wrap {
  width: 1130px;
}

.content {
  padding: 20px;
}

/*component*/
h1, h2, h3, h4, h5, h6 {
  margin: 0 0 0 0;
  line-height: 1.5em;
}

h1 {
  font-size: 36px;
}

h2 {
  font-size: 32px;
}

h3 {
  font-size: 24px;
}

h4 {
  font-size: 22px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 12px;
}

a {
  color: rgba(0, 0, 0, 0.54);
}
a:hover {
  color: rgba(0, 0, 0, 0.54);
}
a:active {
  color: rgba(0, 0, 0, 0.54);
}

.is-centered {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.title-summary {
  font-weight: 400;
  color: #888;
  font-style: italic;
  font-size: 1.4em;
  margin-bottom: 10px;
}

.slide-container {
  white-space: nowrap;
  overflow: auto;
  outline: solid 1px red;
}
.slide-container a {
  display: block;
  padding: 5px 5px;
}
.slide-container img {
  max-width: 100%;
}

.slide {
  display: inline-block;
  min-height: 50vh;
}

.slide-content {
  outline: solid 1px red;
  display: grid;
  grid-template-columns: auto auto auto;
  width: 100%;
}

.works-container {
  display: grid;
  grid-template-columns: auto auto auto;
}

.photo-container {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.custom-1 {
  grid-column: 1;
  grid-row: 2/span 3;
}

.copyright {
  display: block;
  width: 100%;
  position: relative;
  height: 40px;
  line-height: 40px;
  text-align: center;
}
.copyright:before, .copyright:after {
  width: 100%;
  height: 1px;
  background: #c2c2c2;
  content: "";
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}
.copyright:after {
  width: 60%;
  background: #7c7c7c;
}
.copyright span {
  display: inline-block;
  background: #ffffff;
  padding: 0 20px;
  position: relative;
  z-index: 2;
  color: #9b9b9b;
  font-size: 0.8em;
}

@media all and (max-width: 800px) {
  .photo-container,
.slide-container {
    grid-template-columns: auto auto;
  }
}
@media all and (max-width: 480px) {
  .slide-container {
    grid-template-columns: auto;
  }
}
.fade-enter-active, .fade-leave-active {
  transition: opacity 0.25s;
}

.fade-enter, .fade-leave-to {
  /* .fade-leave-active below version 2.1.8 */
  opacity: 0;
}

.section-homepage, .section-about, .section-skills, .section-works, .section-photo {
  width: 100%;
  padding: 60px 40px 40px 40px;
  min-height: calc(100vh - 50px);
  position: relative;
}

.section-homepage img, .section-about img, .section-skills img, .section-works img, .section-photo img {
  display: block;
  margin: auto;
  max-width: 100%;
}

.section-homepage {
  min-height: 100vh;
  margin-top: -50px;
  padding-top: 40px;
}

.section-trivia {
  width: 100%;
  padding: 40px 40px 0px 40px;
  text-align: center;
  border-top: solid 1px #ddd;
}

.photo-profile {
  border-radius: 100px;
}

.outer {
  width: 100%;
  height: 100%;
  display: table;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.inner {
  display: block;
  text-align: center;
}

.modal {
  background: #e6e6e6;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 50px;
  overflow: auto;
  visibility: visible;
}

.modal-close {
  position: fixed;
  z-index: 8888;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background: white;
  font-size: 2.2em;
  border: none;
  transition: font-size 0.15s ease-out;
}

.modal-close:hover {
  cursor: pointer;
  background: #ebebeb;
  font-size: 1.8em;
}

.modal-nav-container {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  height: 50px;
}

.modal-nav {
  font-family: "wask_newregular", Arial, sans-serif;
  border: none;
  height: 50px;
  padding: 0 20px;
  font-size: 1.25em;
  transition: 0.15s ease-out;
  background: none;
  font-weight: 300;
  color: #424242;
}

.modal-nav:hover {
  cursor: pointer;
  background: #ebebeb;
}

.modal-nav:focus, .modal-close:focus {
  outline: dotted 1px black;
}

.modal-nav.is-left {
  left: 50px;
}

.modal-nav.is-right {
  right: 50px;
}

.modal-container {
  background: white;
  height: calc(100vh - 100px);
  overflow: hidden;
  position: relative;
}

.modal-content {
  position: relative;
  display: grid;
  grid-gap: 40px;
  grid-template-columns: auto 72%;
  /* min-height: calc(100vh - 180px); */
  height: 100%;
}

.modal-content > .project-img {
  grid-row-gap: 40px;
}

.work-content {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: auto;
  padding: 40px;
}
.work-content article {
  width: 100%;
  max-width: 1170px;
  margin: 0 auto;
}
.work-content article p {
  margin: 0;
}
.work-content video {
  width: 80%;
  margin: 40px auto;
  box-shadow: 0 0 2em rgba(0, 0, 0, 0.08);
}

.work-header {
  position: fixed;
  top: 0;
  left: 0;
  height: 50px;
  width: 40%;
  text-align: left;
  z-index: 33;
  padding: 12px 10px 10px 50px;
}
.work-header h4 {
  margin: 0;
  font-size: 18px;
}

.grid-img section {
  margin: 40px 0;
}

@media (max-width: 800px) {
  .modal {
    background: white;
    padding: 0px;
  }

  .modal-container {
    min-height: 100vh;
    overflow: auto;
  }

  .modal-content {
    height: auto;
  }

  .modal-nav-container {
    background: white;
  }

  .modal-nav {
    height: 40px;
  }

  .modal-nav.is-left {
    left: 0px;
  }

  .modal-nav.is-right {
    right: 0px;
  }

  .modal-close {
    width: 40px;
    height: 40px;
    text-align: center;
    font-size: 2em;
  }

  .modal-close:hover {
    font-size: 2em;
  }

  .work-header {
    display: none;
  }

  .work-content video {
    width: 100%;
  }
}
.project-img {
  display: grid;
  min-height: 100%;
  order: 2;
  overflow: auto;
}

.project-detail {
  text-align: left;
  position: relative;
  height: 100%;
  background: #f8f8f8;
  padding: 20px;
  order: 1;
}

.project-detail p strong {
  letter-spacing: 0.1em;
}

.project-title {
  font-weight: 300;
  font-size: 3em;
  line-height: 1em;
}

.project-title span {
  display: block;
  opacity: 0.54;
  font-size: 0.8em;
  margin: 10px 0 0 0;
  line-height: 1em;
}

.project-task {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.project-task li {
  display: inline-block;
}

.project-task img {
  max-width: 64px;
  opacity: 0.75;
  margin-right: 5px;
}

.project-task img:hover {
  opacity: 0.9;
}

.skill {
  width: 100%;
  margin: 10px 0;
}

.skill p {
  margin: 0;
}

.skill-bar {
  width: 100%;
  height: 15px;
  border-radius: 10px;
  background: #D8D8D8;
  overflow: hidden;
}

.skill-bar span {
  display: block;
  height: 15px;
  background: #242424;
}

.etc h4 {
  margin: 40px 0 10px 0;
  padding: 0;
  line-height: 1em;
}

.etc p {
  margin: 0;
}

.flex-container {
  width: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.flex-6 {
  width: 50%;
}

.flex-6:first-child {
  padding-right: 20px;
}

.flex-6:last-child {
  padding-left: 20px;
}

@media (max-width: 800px) {
  .flex-container {
    display: block;
  }

  .flex-6 {
    width: 100%;
  }

  .flex-6:first-child {
    padding-right: 0;
  }

  .flex-6:last-child {
    padding-left: 0;
  }
}
.contact {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.contact li {
  margin: 0;
  padding: 0;
  display: inline;
}

.contact a {
  display: inline-block;
  padding: 20px 10px;
  text-decoration: none;
  font-size: 2em;
  color: rgba(0, 0, 0, 0.57);
}

.thumbnail {
  display: block;
  overflow: hidden;
  cursor: pointer;
}

.thumbnail .project-img {
  overflow: hidden;
}

.thumbnail img {
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  transition: all ease 0.2s;
}

.thumbnail:hover img {
  transform: scale(1.1);
}

.warning {
  padding: 20px;
  text-align: center;
  font-style: italic;
  border: 1px dashed orangered;
}

.warning strong {
  color: orangered;
}

ul {
  margin: 0;
}

.pad-b {
  padding-bottom: 40px;
}

@media (max-width: 800px) {
  .modal-content {
    grid-template-columns: 100%;
  }

  .m-hide {
    display: none;
  }
}
.p-t {
  padding-top: 10px;
}

.p-r {
  padding-right: 10px;
}

.p-b {
  padding-bottom: 10px;
}

.p-l {
  padding-left: 10px;
}

/*# sourceMappingURL=style.css.map */
